.th_center
{
	text-align: center;
}
.td_center
{
	text-align: center;
}
.form-control
{
	width: 200px;
}
#input09
{
	width: 100px;
}
label.error
{
	color: red;
	font-weight: normal;
}
.modal-header
{
	color: red;
}
.pagination
{
	margin: 0px 0px;
}